@using PresLab.Models
@model PresLab.Models.Order

@{
    ViewBag.Title = "Crear Nuevo";
}




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="create">
        <div class="create-header">
            <h2>Muestreo</h2>
            <h4>Crear Nuevo</h4>
        </div>
        <div class="container col-md-10 col-md-offset-1">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="input-group narrow">
                        @Html.LabelFor(model => model.Client, htmlAttributes: new { @class = "input-group-addon create" })
                        @Html.DropDownList("ClientID", null, htmlAttributes: new { @class = "form-control edit" })
                        @Html.ValidationMessageFor(model => model.ClientID, "", new { @class = "text-danger" })
                    </div>

                    <div class="input-group narrow">
                        @Html.LabelFor(model => model.RequestDate, htmlAttributes: new { @class = "input-group-addon create" })
                        @Html.EditorFor(model => model.RequestDate, new { htmlAttributes = new { @class = "form-control edit" } })
                        @Html.ValidationMessageFor(model => model.RequestDate, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="container inside-tables edit">
                    <h3 class="create"><i class="fa fa-shopping-basket" aria-hidden="true"></i></h3>
                    <div>
                        <table class="col-md-12">
                            <tr>
                                @{
                                    int cnt = 0;
                                    List<PresLab.ViewModels.AssignedProductData> products = ViewBag.Products;

                                    foreach (var product in products)
                                    {
                                        if (cnt++ % 2 == 0)
                                        {
                                            @:</tr><tr>
                                        }
                                        @:<td>
                                            <input type="checkbox"
                                               name="selectedProducts"
                                               value="@product.ProductID"
                                               @(Html.Raw(product.Assigned ? "checked=\"checked\"" : "")) />
                                               <strong>@product.Type </strong>@:, Marca: @product.Brand
                                        @:</td>
                                    }
                                    @:</tr>
                                }
                        </table>
                    </div>
                </div>
            </div>

            <div class="row">
                <button type="submit" class="btn btn-default iso-sm common pull-right">
                    <span class="glyphicon glyphicon-floppy-disk"></span>
                </button>
                <a href="@Url.Action("Index", "Order")" class="btn btn-default iso-sm common">
                    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                </a>
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
