@using PresLab.Models
@model IEnumerable<PresLab.Models.Order>

@{
    ViewBag.Title = "Muestreo";
}

<h2>Historial de Muestreos</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nº de Muestreo
        </th>
        <th>
            Cliente
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrderID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Client.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequestDate)
        </td>
        <td>
           
            @Html.ActionLink("Details", "Details", new { id=item.OrderID }) 
            
        </td>
    </tr>
}

</table>
