@model PresLab.Models.Test

@{
    ViewBag.Title = "Eliminar";
}




<div class="delete">
    <div class="delete-header">
        <h2>@Html.DisplayFor(model => model.Name)</h2>
        <h4>Eliminar Análisis</h4>
    </div>
    <div class="container delete col-md-8 col-md-offset-2">
        <div class="delete-warning">
            <h3>¿Está seguro de que desea eliminar este Análisis?</h3>
            <span class="glyphicon glyphicon-trash"></span>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <label class="pull-right">
                    @Html.DisplayNameFor(model => model.Name)
                </label>
            </div>
            <div class="col-xs-6">
                <p>
                    @Html.DisplayFor(model => model.Name)
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <label class="pull-right">
                    @Html.DisplayNameFor(model => model.Description)
                </label>
            </div>
            <div class="col-xs-6">
                <p>
                    @Html.DisplayFor(model => model.Description)
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <label class="pull-right">
                    @Html.DisplayNameFor(model => model.Price)
                </label>
            </div>
            <div class="col-xs-6">
                <p>
                    @Html.DisplayFor(model => model.Price)
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-10 col-md-offset-1">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="row">
                <button type="submit" value="Delete" class="btn btn-default iso-sm common pull-right">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
                <a href="@Url.Action("Index", "Test")" class="btn btn-default iso-sm common">
                    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                </a>
            </div>
        }
    </div>
</div>
